@model List<SuperFilm.Enerji.Entites.IsletmeTanimlari>
@{
    ViewData["Title"] = "İşletme Tanımları";
}

<div class="text-center">
    <div class="float-end">
        <a asp-controller="Isletme" asp-action="AddIsletme" class="text-decoration-none">
            Isletme Ekle
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>İşletme Kodu</th>
                <th>İşletme Adı</th>
                <th>İşletme Açıklaması</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IsletmeKodu</td>
                    <td>@item.IsletmeAdi</td>
                    <td>@item.Aciklama</td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
