@model List<SuperFilm.Enerji.Entites.IsYeri>
@{
    ViewData["Title"] = "İş Yerleri";
}

<div class="text-center">
    <div class="float-end">
        <a asp-controller="Isletme" asp-action="AddIsYeri" class="text-decoration-none">
            Iş Yeri Ekle
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>İş Yeri Kodu</th>
                <th>İş Yeri Adı</th>
                <th>İş Yeri Açıklaması</th>
                <th>İşletme Id</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Kod</td>
                    <td>@item.Ad</td>
                    <td>@item.Aciklama</td>
                    <td>@item.IsletmeTanimlariId</td>

                </tr>
            }
        </tbody>
    </table>
</div>
