@using SuperFilm.Enerji.WebUI.ViewModels

@model OpcNodesSayacDagilimiViewModel;
@{
    ViewData["Title"] = "OpcNodes Sayaç Ekle";
}
<div class="account-container">
    <div class="account-box">
        <div class="mb-3">
            <a asp-controller="OpcNodesSayacDagilimi" asp-action="Index" class="text-decoration-none">
                Geri
            </a>
        </div>
        <h1 class="display-4">OpcNodes Sayaç Ekle</h1>
        <form asp-action="AddOpcNodesSayacDagilimi" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label for="OpcNodesID">OPCNodes</label>
            <select class="form-control" asp-for="OpcNodesSayacDagilimi.OpcNodesId">
                <option value="">Seçiniz</option>
                @if (Model.OpcNodes != null && Model.OpcNodes.Any())
                {
                    foreach (var item in Model.OpcNodes)
                    {
                        <option value="@item.Id">@item.Description</option>
                    }
                }
                else
                {
                    <option>Mevcut OpcNodes Yok</option>
                }

            </select>
            <label for="SayacId">Sayaç Tanımı</label>
            <select class="form-control" asp-for="OpcNodesSayacDagilimi.SayacId">
                <option value="">Seçiniz</option>
                @if (Model.SayacTanimlari != null && Model.SayacTanimlari.Any())
                {
                    foreach (var item in Model.SayacTanimlari)
                    {
                        <option value="@item.Id">@item.SayacTanimi</option>
                    }
                }
                else
                {
                    <option>Mevcut Sayaç Yok</option>
                }

            </select>
            <div class="mb-3">
                <label asp-for="OpcNodesSayacDagilimi.Carpan" class="form-label"></label>
                <input asp-for="OpcNodesSayacDagilimi.Carpan" type="text" class="form-control" />
                <span asp-validation-for="OpcNodesSayacDagilimi.Carpan" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">İşlem</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="OpcNodesSayacDagilimi.Islem" id="islemPlus" value="+" />
                    <label class="form-check-label" for="islemPlus">+</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="OpcNodesSayacDagilimi.Islem" id="islemMinus" value="-" />
                    <label class="form-check-label" for="islemMinus">-</label>
                </div>
                <span asp-validation-for="OpcNodesSayacDagilimi.Islem" class="text-danger"></span>
            </div>

            <input type="submit" value="Ekle" class="btn btn-success w-100 p-2" />
        </form>
    </div>
</div>
