@using SuperFilm.Enerji.Entites;
@model IsYeri;
@{
    ViewData["Title"] = "İşletme Ekle";
}
<div class="account-container">
    <div class="account-box">
    <div class="mb-3">
        <a asp-controller="Isyeri" asp-action="Index" class="text-decoration-none">
Geri
        </a>
    </div>
    <h1 class="display-4">İş Yeri Ekle</h1>
    <form asp-action="AddIsyeri" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Kodu" class="form-label"></label>
            <input asp-for="Kodu" class="form-control" />
            <span asp-validation-for="Kodu" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Adi" class="form-label"></label>
            <input asp-for="Adi" class="form-control" />
            <span asp-validation-for="Adi" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Aciklama" class="form-label"></label>
            <input asp-for="Aciklama" type="text" class="form-control" />
            <span asp-validation-for="Aciklama" class="text-danger"></span>
        </div>
       @*  <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div> *@

        <input type="submit" value="Ekle" class="btn btn-success w-100 p-2" />
    </form>
    </div>
</div>
