@model List<SuperFilm.Enerji.Entites.IsYeri>
@{
    ViewData["Title"] = "İşyerleri";
}

<div class="text-center">
    <div class="float-end">
        <a asp-controller="Isyeri" asp-action="AddIsYeri" class="btn btn-outline-primary">
            Ekle
        </a>
    </div>
    <table class="table pageTable" id="pageTable">
        <thead>
            <tr>
                <th>Kodu</th>
                <th>Adı</th>
                <th>Açıklaması</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Kodu</td>
                    <td>@item.Adi</td>
                    <td>@item.Aciklama</td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
