@model SayacTanimlari;
@{
    ViewData["Title"] = "Sayaç Ekle";
}
@section Scripts {
	<script src="~/js/selectisyeri.js"></script>
}

<div class="account-container">
    <div class="account-box">
        <div class="mb-3">
            <a asp-controller="Sayac" asp-action="Index" class="text-decoration-none">
                Geri
            </a>
        </div>
        @if (Model.Id == 0)
        {
            <h1 class="display-4">Sayaç Ekle</h1>
        }
        else
        {
            <h1 class="display-4">Sayaç Güncelle</h1>
        }
        
        <form asp-action="AddSayac" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="mb-3">
                <label asp-for="SayacKodu" class="form-label"></label>
                <input asp-for="SayacKodu" class="form-control" />
                <span asp-validation-for="SayacKodu" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SayacTanimi" class="form-label"></label>
                <input asp-for="SayacTanimi" class="form-control" />
                <span asp-validation-for="SayacTanimi" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SayacAciklama" class="form-label"></label>
                <input asp-for="SayacAciklama" type="text" class="form-control" />
                <span asp-validation-for="SayacAciklama" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="SayacYeri" class="form-label"></label>
                <input asp-for="SayacYeri" class="form-control" />
                <span asp-validation-for="SayacYeri" class="text-danger"></span>
            </div>

            @if (Model.Id == 0)
            {
                <input type="submit" value="Ekle" class="btn btn-success w-100 p-2" />
            }
            else
            {
                <input type="submit" value="Güncelle" class="btn btn-success w-100 p-2" />
            }
            
        </form>
    </div>
</div>

