@model List<SayacTanimlari>


<form asp-action="Index" method="post">
    <label for="TimeTypeId">Zaman Tipi</label>
    <select class="form-control" name="TimeTypeId" id="TimeTypeId" required>
        <option value="">Seçiniz</option>
        <option value="1">Günlük</option>
        <option value="2">Aylık</option>
    </select>
    <div id="Gun" style="display:none">
        <label for="Gun">Gün</label>
        <input type="date" name="Gun">
    </div>
    <div id="Ay" style="display:none">
        <label for="Ay">Ay</label>
        <input type="month" name="Ay">
    </div>
    <label for="SayacId">Sayaç</label>
    <select class="form-control" name="SayacId" id="SayacId" required>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <option value="@item.Id">@item.SayacKodu</option>
            }
        }
        else
        {
            <option value="">Mevcut Sayaç Yok</option>
        }
        
    </select>
    <input type="submit" value="Ekle"/>
</form>

@* @(await Html.RenderPartialAsync("_GrafikPartial")) *@
@* <partial name="_GrafikPartial" /> *@

@using Syncfusion.EJ2;
<div class="control-section" align="center">
    @Html.EJS().Chart("container").Series(series =>
            {
                series.Type(Syncfusion.EJ2.Charts.ChartSeriesType.Line).Width(2).XName("Zaman").YName("Deger").Name("SayacVeri")
                .Marker(mr => mr.Visible(true).Width(7).Height(7).Shape(Syncfusion.EJ2.Charts.ChartShape.Circle).IsFilled(true))
                .DataSource(ViewData["ChartData"]).Add();

            }).PrimaryXAxis(px => px.ValueType(Syncfusion.EJ2.Charts.ValueType.Double)
            .MajorGridLines(mg => mg.Width(0))
            .EdgeLabelPlacement(Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift)
            ).PrimaryYAxis(py => py.Title("Sayaç Verileri")
            .MajorTickLines(mt => mt.Width(0)).MinorTickLines(mt => mt.Width(0))
            // .LineStyle(ls => ls.Width(0)).Interval(5).Minimum(0).Maximum(25)
            )
    .Title("Sayaç Verileri")
    .SubTitle("Source: wikipedia.org")
    .Tooltip(tt => tt.Enable(true)
    @* .Header("<b>sa</b>") *@
    @* .Format("${point.x} : <b>${point.y}M</b>") *@
    @* .ShowNearestTooltip(true) *@
    .EnableHighlight(true)
    )
    @* .Load("load") *@
    .ChartArea(area => area.Border(br => br.Width(0))
    .Margin(margin => margin.Bottom(12)))
    .LegendSettings(leg => leg.Visible(true)
    .EnableHighlight(true)
    ).Render()
</div>


@* <script src="~/Scripts/chart/theme-color.js"></script> *@
<script>

    var load = function (args) {
        // loadChartTheme(args);
        args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
    };
</script>

@section Scripts {
    <script src="~/js/setdate.js"></script>
}