@model OpcNodes;

@{
    ViewData["Title"] = "OpcNodes Ekle";
}

<div class="account-container">
    <div class="account-box">

    <div class="mb-3">
        <a asp-controller="OpcNodes" asp-action="Index" class="text-decoration-none">
            Geri
        </a>
    </div>
        @if (Model.Id == 0)
        {
            <h1 class="display-4">OpcNodes Ekle</h1>
        }
        else
        {
            <h1 class="display-4">OpcNodes Güncelle</h1>
        }
        
        <form asp-action="AddOpcNodes" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" class="form-control" />
        <div class="mb-3">
                <label asp-for="Code" class="form-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
                <label asp-for="NodeId" class="form-label"></label>
                <input asp-for="NodeId" type="text" class="form-control" />
                <span asp-validation-for="NodeId" class="text-danger"></span>
        </div>
        <div class="mb-3">
                <label asp-for="NodeNameSpace" class="form-label"></label>
                <input asp-for="NodeNameSpace" type="text" class="form-control" />
                <span asp-validation-for="NodeNameSpace" class="text-danger"></span>
        </div>
        <div class="mb-3">
                <label asp-for="AttributeId" class="form-label"></label>
                <input asp-for="AttributeId" type="text" class="form-control" />
                <span asp-validation-for="AttributeId" class="text-danger"></span>
        </div>
            @if (Model.Id == 0)
            {
                <input type="submit" value="Ekle" class="btn btn-success w-100 p-2" />
            }
            else
            {
                <input type="submit" value="Güncelle" class="btn btn-success w-100 p-2" />
            }
            
    </form>
    </div>
</div>